# Environment variables
.env
.env.*
.env.local
.env.production
.Render

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Django
staticfiles/
media/

# Virtual environments
venv/
.envvenv/

# Docker
*.tar
docker-data/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
